<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # prevent Indexing
    
    Options +FollowSymLinks -Indexes

    # Handle Front Controller...

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>    
